/* Reset */
*{
  vertical-align: middle;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
  box-sizing: border-box;
  margin: 0px;
}
body{
  background-color: black;
  color: white;
}
#w-cont{
  width: 100vw;
  height: 100vh;
  background-color: black;
  text-align: center;
}
#world{
  display: inline-block;
  text-align: left;
  margin: auto;
}
.row{
  display: block;
}
.piece{
  display: inline-block;
}
.vert{
  width: 15px;
  height: 15px;
  border: 2px orange solid;
  border-top: none;
  border-bottom: none;
}
.horz{
  width: 15px;
  height: 15px;
  border: 2px orange solid;
  border-left: none;
  border-right: none;
}
.up-left{
  width: 15px;
  height: 15px;
  border: 2px orange solid;
  border-top-left-radius: 30px;
  border-bottom: none;
  border-right: none;
}
.up-right{
  width: 15px;
  height: 15px;
  border: 2px orange solid;
  border-top-right-radius: 30px;
  border-left: none;
  border-bottom: none;
}
.b-left{
  width: 15px;
  height: 15px;
  border: 2px orange solid;
  border-bottom-left-radius: 30px;
  border-top: none;
  border-right: none;
}
.b-right{
  width: 15px;
  height: 15px;
  border: 2px orange solid;
  border-bottom-right-radius: 30px;
  border-top: none;
  border-left: none;
}
.close-l{
  width: 15px;
  height: 15px;
  border: 2px orange solid;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-left: none;
}
.close-r{
  width: 15px;
  height: 15px;
  border: 2px orange solid;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-right: none;
}
.coin-c{
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  padding: 5px 0 0 6px;
}
.powerup-c{
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  padding: 4px 0 0 6px;
}
.coin{
  width: 4px;
  height: 4px;
  background-color: white;
  transform: rotate(45deg);
  animation: coin 0.4s infinite;
}
.powerup{
  width: 7px;
  height: 7px;
  background-color: cyan;
  transform: rotate(45deg);
  animation: powerup 1s infinite;
}
.empty{
  width: 15px;
  height: 15px;
}
.error{
  width: 15px;
  height: 15px;
  background-color: orange;
}
#pac{
  background-image: url('https://i.gifer.com/origin/2d/2d01592d8059526d73b97de0da442368_w200.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: center;
}
@keyframes coin {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.7;
  }
  100%{
    opacity: 1;
  }
}
@keyframes powerup {
  0%{
    opacity: 1;
    transform: rotate(45deg);
  }
  50%{
    opacity: 0.7;
    transform: rotate(90deg);
  }
  100%{
    opacity: 1;
    transform: rotate(-45deg);
  }
}
